.header {
    width: 100%;
    height: 90px;
    background-color: aqua;
    display: flex;
}

.Logo {
    width: 900px;
    display: flex;
    flex-direction: row;
}

.LogoContent {
    width: 420px;
}

.brange {
    padding-left: 2%;
    margin-right: 20px;
}

.HighKingdomLogo {
   width: 250px;
   height: 90px;
}

.NavItems {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

.NavLink {
    display: flex;
    margin-right: 20px;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    ;
}

.NavTitleLink {
    color: #166e00; 
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.NavTitleLink:hover {
    color: #30be0d;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
}

.AuthButton {
    height: 100%;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.colorButtonLogin {
    color: green;
    font-weight: 600;
}

.UserButton {
    display: flex;

}

.HP-Avatar {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    border-radius: 100px;
}

.HP-Username {
    color: #166e00; 
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 15px;
    transition: 0.4s ease-out;
}

.HP-Username:hover {
    color: #35ff00;
}

.HP-LogoutColor:hover {
    color: #ff0000
}